
.modal_comment_form{
    border: solid;
    font-size: 2vh;  
    width: 99%;
    height: 70px;
    font-family: sans-serif;
}

.modal_comment_button{
    background-color: white;
    border: solid black;
    font-size: 2vw;
    opacity: 1;
    cursor: pointer;
    font-family: sans-serif;
}