.review_update_form {
  border-style: none;
  margin: auto;
  margin-left: 1.5%;
  width: 95%;
  height: 150px;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 2vw;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
.modal_Inner p {
  text-align: center;
}
.review_update_button {
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
  font-size: 1.5vw;
  margin: auto;
  display: flex;
  cursor: pointer;
  font-family: "CookieRunOTF-Bold";
}
.review_update_button:hover {
  box-shadow: none;
}
.review_container {
  border: solid;
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.close_button {
  border: 0px;
  position: absolute;
  left: 5px;
  top: 5px;
}

@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
