.card_wrapper{
    width:70%;
    height: 100%;
    margin: auto;
    padding-top: 5%;
}

.card_box{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 2%;
    overflow-x: hidden;
}

.card{
    background-color: blanchedalmond;
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    font-size:4vh;
}


.comment{
    background-color: rgb(223, 89, 134);
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    font-size:3vh;
    overflow-x: hidden;
}