.form_wrap {
  width: 100%;
  position: absolute;
  z-index: 2;
  text-align: center;
}
.fpw_title {
  color: #ffffff;
  margin-top: 2vw;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.pwd_email {
  border: 1px solid #999;
  font-size: 20px;
  width: 30vh;
  height: 4vh;
  display: block;
  margin: 30px auto;
}

.pwd_button {
  background-color: #ffffff;
  font-size: 20px;
  padding: 5px 50px;
  margin: auto;
  display: flex;
  cursor: pointer;
}
