.mycardlist_wrap{
    background-color: rgb(238, 174, 174);
    width:70%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.review_button{
    background-color:#ffffff;
	font-size:20px;
    margin : auto;
}