.isvalidtoken_wrap {
  width: 100%;
  position: absolute;
  z-index: 2;
  text-align: center;
}
.isvalidtoken_title {
  color: #ffffff;
  margin-top: 2vw;
  font-size: 1.5vw;
  font-weight: bold;
}
.isvalidtoken_input {
  width: 30vh;
  height: 4vh;
  margin-bottom: 1vw;
  font-size: 20px;
}
.isvalidtoken_button {
  background-color: #ffffff;
  font-size: 20px;
  padding: 5px 50px;
  margin-top: 2vw;
  /* display: flex; */
  cursor: pointer;
}
