.upload_form {
    margin-top: 30%;
    width:95%;
    height:100%;
	background:rgb(255, 255, 255);
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.container {
    background-color: rgb(204, 204, 204);
    width:70%;
    height: 80%;
    margin: auto;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.upload_button {
    background-color:#ffffff;
	font-size:20px;
    padding: 5px 50px;
    margin : 10% auto;
    display: flex;
}